<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
  <h1>Books</h1>

  <%= form_tag(books_path, method: :get) do %>
    <%= select_tag :search, author_names_for_select, multiple: 'true' %>
    <%= submit_tag "Search" %>
  <% end %>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Title</th>
      </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>